<% provide :head_tags do %>
  <meta name=‘turbolinks-visit-control’ content=‘reload’>
    <script>
      console.log('function executes at start')
      document.addEventListener(‘DOMContentLoaded’, function(){
        console.log('function executes after add event listener')
        loadMap(51.509865, -0.118092)
      });
    </script>
<% end %>

<h1>Index</h1>
<div id="map"></div>