<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Key-Time</title>
  </head>

  <body>
    <div class="row justify-content-center ml-2 mr-2">
      <section class="text-center col-sm-6 col-lg-5">

      <h5 class="mt-5"> Find the special hours of your nearest supermarket for NHS/key workers or vulnerable individuals.</h5>

      <%= image_tag 'key2.png' %>

      <h3 class="text-center mt-5 mb-4" style="color: #005EB8;"> Try out the app! </h3>

      <form action="/maps">
        <input id="submit" type="submit" class="btn btn-primary nhs-color" value="Go">
      </form>

      </section>
    </div>

    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    
  </body>

    <footer>
    </footer>

    <script>
    </script>

  </body>
</html>
