<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Key-Time</title>
  </head>

  <body>  

    <section> 

    <h3 class="text-center mt-5" style="color: #005EB8;"> Please enter your postcode </h3>
    <form>
    <div class="form-group">
    <label for="POSTCODE">Postcode:</label>
    <input type="text" class="form-control form-control-lg" id="POSTCODE" placeholder="Enter your postcode">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
    </form>

    </section>

    <footer>
    </footer>
    
    <script>
    </script>

  </body>
</html>