<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>HfhGroceries</title>
  </head>

  <body>  
    <div class="text-center">
      Bootstrap test - This is where everything is going to go
    </div>
    <section> 
    </section>

    <footer>
    </footer>
    
    <script>
    </script>

  </body>
</html>