<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>HfhGroceries</title>
  </head>

  <body>  

    <section> 

    <h3 class="text-center mt-5" style="color: #005EB8;"> Please enter your postcode </h3>

    </section>

    <footer>
    </footer>
    
    <script>
    </script>

  </body>
</html>