<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Key-Time</title>
  </head>

  <body>  
    <div class="row justify-content-center ml-2 mr-2">
      <section class="text-center col-sm-6 col-lg-5"> 

      <h5 class="mt-5"> Find the special hours of your nearest supermarket for NHS/key workers or vulnerable individuals.</h5>
      
      <%= image_tag 'key2.png' %>
      
      <h3 class="text-center mt-5 mb-4" style="color: #005EB8;"> Please enter your postcode </h3>
      <form action="/maps" method="POST">
        <div class="form-group ml-5 mr-5">
          
          <input type="text" class="form-control form-control-lg" id="POSTCODE" placeholder="Enter your postcode">
          <br>
          <%= link_to 'Submit', maps_path, class: "btn btn-primary nhs-color" %>
        </div>
      </form>

      </section>
    </div>

    <footer>
    </footer>
    
    <script>
    </script>

  </body>
</html>